<h1>Novo fornecedor</h1>
<%= render 'form' %>
<table rules="all" align="left" border="3" frame="box" width="100" bgcolor="#808080">
  <thead>
    <tr>
      <th>
        <%= link_to 'Voltar', fornecedores_path %>
      </th>
    </tr>
  </thead>
</table>