<div class="row">
	<div class="large-12 columns">
		<h1>Editar <%= I18n.t('activerecord.models.remote/timezone') %></h1>
		<%= render :partial => 'form', locals: {url: timezone_path(@timezone)} %>
	</div>
</div>