<div class="row">
	<div class="large-12 columns">
		<h1>Novo <%= I18n.t('activerecord.models.remote/timezone') %></h1>
		<%= render :partial => 'form', locals: {:url => timezones_path} %>
	</div>
</div>